body, html {
    margin: 0px;
    border : 0px;
    padding : 0px;
}

* {
    border : 2px solid red;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height : 80%;
    max-width: 80%;
    gap : 1px;
}

.square {
    height: 25px;
    width: 25px;
    display: flex;
    flex : 0 0 auto;
    background-color: black;
}